<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/HelloGoogleOAuth" version="1.0.0" viewmodes="maximized">
    <access origin="https://accounts.google.com" subdomains="true"/>
    <access origin="https://www.googleapis.com" subdomains="true"/>
    <tizen:application id="YmoXKtKEib.HelloGoogleOAuth" package="YmoXKtKEib" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>HelloGoogleOAuth</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/tizen/privilege/accessoryprotocol"/>
    <tizen:profile name="wearable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
