* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:1em;
	color:#fff;
}

#fail {
	word-break:break-word;
	width:360px;
	font-size:1em;
}

#success {
	word-break:break-word;
	width:360px;
	font-size:1em;
}